version: "3"

services:
  postgres:
    env_file: .env
    image: postgres:12.4
    container_name: postgres_nest
    restart: always

    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}

    ports:
      - ${DATABASE_PORT}:5432

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:


